mixin map-nav
    .map-navigation
        .map-navigation__back-link
            a(href="/")
                img(src="img/back.png")
        h1.map-navigation__header Автомобиль на карте
        .map-navigation__menu-link
            div#menu-btn
                img(src="img/menu.png")