mixin offline
    .offline-wrapper
        .offline-wrapper__img
            img(src="img/offline.png")
        .offline-wrapper__text Нет связи<br>с вашим автомобилем,<br>позвоните нам
        a(href="/").offline-wrapper__btn Позвонить
            img(src="img/offline_phone.png")