mixin login-form
    form#login-form.login-form(action="map.html")
        input(type="text" placeholder="Номер телефона").login-form__phone
        input(type="text" placeholder="Пароль").login-form__pass
        a(href="/").login-form__pass-recovery-link Забыли пароль?
        input(type="submit" value="Управлять автомобилем").login-form__submit-btn