mixin car-location
    .car-location
        .car-location__pointer
            img(src="img/pointer.png")
        .car-location__address ул. Большая Васильковская </br>130/2б
        .car-location__distance 134 км