extends layouts/root

block main
    div.wrapper
        img(src=require("./img/multiply-nodes-4.png")).logo
        form#login_form(action="map.html")
            input(type="text" placeholder="Номер телефона").phone
            input(type="text" placeholder="Пароль").pass
            a(href="/").pass_recovery Забыли пароль?
            input(type="submit" value="Управлять автомобилем").submit
        div.index_footer
            div.footer_phone
                img(src="img/phone_icon2.png")
                span +38 (093) 123 - 45 - 67
            div.footer_info
                img(src="img/info-icon.png")
                span Больше информации