include ../blocks/index
html(lang="ru")
	head
		meta(charset="utf-8")
		title Koleso App
		meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
		link(rel="manifest" href="/manifest.json")
	body
		block main
	script(defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSoYh1RpInYCL6mvLlECisWV4GZOE2Doo&callback=initMap")
	script(src="https://code.jquery.com/jquery-3.2.1.min.js")